{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.6"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bookmark-bar.css' %}">
    </head>

    <body>
        {{ create_update_folder_url }}
        <div id="mydiv">
            <button hx-get="{{ create_update_folder_url }}" hx-target="#folders" hx-trigger="click" hx-swap="beforeend">New folder</button>
            <div id="folders">
                {% for obj in object_list %}
                    {% include 'bookmarks/folder-element.html' with folder=obj %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>